<div class="form-container">
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <div>
            <!-- Search String Input -->
            <mat-form-field appearance="fill">
              <mat-label>Search String</mat-label>
              <input matInput formControlName="activityName">
            </mat-form-field>
        </div>
        <div>
            <!-- Datepicker From Input -->
            <mat-form-field appearance="fill">
              <mat-label>Date From</mat-label>
              <input matInput [matDatepicker]="dateFromPicker" formControlName="dateFrom">
              <mat-datepicker-toggle matSuffix [for]="dateFromPicker"></mat-datepicker-toggle>
              <mat-datepicker #dateFromPicker></mat-datepicker>
            </mat-form-field>
      
        <!-- Datepicker Until Input -->
            <mat-form-field appearance="fill">
              <mat-label>Date Until</mat-label>
              <input matInput [matDatepicker]="dateUntilPicker" formControlName="dateUntil">
              <mat-datepicker-toggle matSuffix [for]="dateUntilPicker"></mat-datepicker-toggle>
              <mat-datepicker #dateUntilPicker></mat-datepicker>
            </mat-form-field>
        </div>
        <div>
            <!-- Multiselect for Tags -->
            <mat-form-field appearance="fill">
              <mat-label>Tags</mat-label>
              <mat-select multiple formControlName="tags">
                <mat-option *ngFor="let tag of tagsList" [value]="tag">{{ tag }}</mat-option>
              </mat-select>
            </mat-form-field>
        </div>

        <!-- Submit Button -->
        <button mat-raised-button color="primary" type="submit">Search</button>
      </form>    
</div>